.about {
    &__cover {
        color: $white;
        height: 100vh;
        // position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
    }
    &__content {
        // position: relative;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
    }
    &__inner-content {
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%); 
        padding-left: 15px;
        padding-right: 15px;
        
        max-width: 700px;
        > h2 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
            @include media-breakpoint-up('md') {
                font-size: 60px;
                margin-bottom: 40px;
            }
        }
        > p {
            max-width: 660px;
            font-size: 1rem;
            margin-bottom: 28px;
            @include media-breakpoint-up('md') {
                margin-bottom: 40px;
            }
        }
        z-index: 999;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, theme-color('primary') , transparent);
    }
    &__entry {
        color: theme-color('primary');
        max-width: 1600px;
        line-height: 30px;
        > h4 {
            @include media-breakpoint-up('lg'){
                padding-left: 40px;
                border-left: 2px solid theme-color('primary');
            }
        }
        > p {
            max-width: 1000px;
            @include media-breakpoint-up('lg'){
                padding-left: 40px;
                //border-left: 2px solid theme-color('primary');
            }
        }
        > img {
            // max-height: 380px;
            border-bottom: 8px solid theme-color('primary');
        }
    }
    &__information {
        line-height: 30px;
        color: theme-color('primary');
        padding: 0 0 80px 0;
        @include media-breakpoint-up('lg') {
            padding: 0 140px 160px 140px;
        }
        
    }
    &__information-img {
        border-bottom: 10px solid theme-color('primary');
    }
    &__information-content {
        margin-top: 20px;
        @include media-breakpoint-up('lg') {
            padding-left: 40px;
            margin-top: 0;
        }
    }
    .information-item {
        &__content {
            color: theme-color('primary');
        }
    }
}