.privacy {
    padding: 80px 0; 
    @include media-breakpoint-up('lg') {
        padding: 120px 0 0 0;
    }
    &__title {
        color: theme-color('primary');
        text-transform: lowercase;
        text-align: center;
        > h1 {
            font-size: 32px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;
            @include media-breakpoint-up('md') {
                font-size: 60px;
                // max-width: 520px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
        }
    }
    &__content {
        color: theme-color('primary'); 
        > p {
            margin-bottom: 0;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}