.single-item {
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 0;
    color: theme-color('primary');
    .item-arrow-left{
        > a {
            color: theme-color('primary');
            font-size: 50px;
            text-decoration: none;
        }
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .item-arrow-right {
        > a {
            color: theme-color('primary');
            font-size: 50px;
            text-decoration: none;
        }
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
    }
    .single-item-header {
        background-color: $gray-100;
        position: relative;
        .item-arrows {
            > a {
                font-size: 40px;
                color: theme-color('primary');
                margin-right: 1rem;
                text-decoration: none;
            }
        }
    }
    @include media-breakpoint-up('lg') {
        margin-top: 140px;
        // padding: 0 140px;
        margin-bottom: 80px;
    }
    &__details {
        > p {
            // margin-top: -0.75rem;
            padding-top: 20px;
            margin-bottom: 0;
        }
    }
    &__content {
        > h1 {
            font-size: 28px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;
            text-transform: lowercase;
            @include media-breakpoint-up('md') {
                font-size: 28px;
                max-width: 520px;
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
        > p { 
            margin-bottom: 20px;
            @include media-breakpoint-up('md') {
                max-width: 520px;
                margin-bottom: 40px;
            }
        }
    }
    .product-gallery {
        .carousel-cell {
            height: 600px;
            background-color: transparent;
            text-align: center;
            > img {
                object-fit: contain;
            }
        }
        .flickity-page-dots {
            // display: none;
            bottom: 4px;
        }
        .flickity-button {
            background: transparent;
        }
        .flickity-button-icon {
            fill: theme-color('primary');
        }
        .flickity-prev-next-button.previous {
            // left: 80%;
            display: none;
        }
        .flickity-prev-next-button {
            // top: 84%;
            display: none;
        }
    }
    &__details {
        position: relative;
        
        
    }
    &__gallery {
         
        .carousel {
            // height: auto;
            height: 600px;
            @include media-breakpoint-up('lg') {
                height: 100%;
            }
        }
    }
    &__information {
        margin-top: 32px;
        @include media-breakpoint-up('md') {
            margin-top: 80px;
        }
        > h3 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        > ul {
            margin-bottom: 0;
            padding-left: 1.25rem;
            > li {
                list-style: circle;
            } 
        }
        > p {
            max-width: 500px;
        }
    }
}
.related-products {
    padding: 40px 0;
    @include media-breakpoint-up('lg') {
        padding: 80px 0;
    }
}
.realted-products-title {
    color: theme-color('primary');
    margin: 0;
    font-size: 22px;
    @include media-breakpoint-up('md') {
        font-size: 36px;
    }
}