.home-about {
    color: theme-color('primary');
    &__content {
        .small-text {
            font-size: 1rem;
            font-weight: 400;
        }
        > h1 {
            font-size: 24px;
            font-weight: 700;
            margin: 20px 0;
            @include media-breakpoint-up('md') {
                font-size: 34px;
                margin: 0 0 24px 0;
            }
        }
        > p {
            max-width: 660px;
            font-size: 1rem;
            margin-bottom: 28px;
            @include media-breakpoint-up('md') {
                margin-bottom: 34px;
            }
        }
        > a {
            margin-bottom: 20px;
        }
    }
    &__image {
        border-bottom: 8px solid theme-color('primary');
    }
}