.beauty-tip {
    &__title { 
        text-align: center;
        font-size: 24px;
        color: theme-color('primary');
        font-weight: 700;
        @include media-breakpoint-up('md') {
            font-size: 36px;
        }
    }
    .tip-item {
        &__content {
            color: theme-color('primary');
        }
        &__image {
            > img {
                max-width: 80px;
                height: auto;
            }
        }
    }
}