.contact {
    &__content {
        max-width: 600px;
        margin: 0 auto;
        .vfb-legend {
            display: none;
        }
        .visual-form-builder fieldset {
            margin: 0;
            background: transparent;
            border: none;
        }
        .vfbp-form .vfb-form-control {
            border: none;
            border-bottom: 1px solid theme-color('primary');
            border-radius: 0;
            box-shadow: unset;
        }
        .vfbp-form label {
            font-weight: 400;
            color: theme-color('primary');
            margin-bottom: 0;
        }
        .vfbp-form .btn-primary {
            color: #ffffff;
            border-color: theme-color('primary');
            background-color: theme-color('primary');
            border-radius: none;
        }
        li.vfb-left-half .vfb-medium,
        li.vfb-right-half .vfb-medium,
        textarea.vfb-textarea {
            background: transparent;
            border: none;
            box-shadow: none;
            color: theme-color('primary');
            border-radius: 0;
            border-bottom: 1px solid theme-color('primary');
            text-transform: lowercase;
        }
        input.vfb-medium, input[type="text"].vfb-medium{
            border-bottom: 1px solid theme-color('primary');
            background: transparent;
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: unset;
        }
        .visual-form-builder li.vfb-left-half, 
        .visual-form-builder li.vfb-right-half,
        input.vfb-medium, input[type="text"].vfb-medium {
            @include media-breakpoint-down('md'){
                width: 100%!important;
            }
        }
        .vfb-fieldType-submit {
            text-align: center;
        }
        li#item-vfb-4.vfb-item.vfb-item-submit {
            text-align: center;
        }
        input::-webkit-input-placeholder {
            color: rgba(13, 122, 154, 0.5) !important;
            padding-left: 6px;
        }
            
        input:-moz-placeholder { /* Firefox 18- */
            color: rgba(13, 122, 154, 0.5) !important;
            padding-left: 6px;  
        }
            
        input::-moz-placeholder {  /* Firefox 19+ */
            color: rgba(13, 122, 154, 0.5) !important;
            padding-left: 6px;  
        }
            
        input:-ms-input-placeholder {  
            color: rgba(13, 122, 154, 0.5) !important;
            padding-left: 6px;  
        }
    }
}