.navbar-light .navbar-nav .nav-link {
    color: theme-color('primary');
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
    padding: 0 40px;
    &:hover {
        color: theme-color('primary');
    }
}
.navbar-light .navbar-nav .active > .nav-link {
    color: theme-color('primary');
    background: unset;
}
.active {
    // background-color: #fffffff0;
}