@import '/slider';
@import '/about';
@import '/services';
@import '/testimonials';
@import '/contact';
@import '/products';
@import '/header';
@import '/beauty-tips';


.home-about {
    // padding: 80px 0;
    // @include media-breakpoint-up('lg') {
    //     padding: 160px 140px;
    // }
}
.home-products {
    // padding: 0 0 80px 0;
    // @include media-breakpoint-up('lg') {
    //     padding: 160px 140px;
    // }
}
.services,
.contact {
    // padding-bottom: 80px; 
    // padding-left: 0;
    // padding-right: 0;
    // @include media-breakpoint-up('lg') {
    //     padding-bottom: 160px;
    //     padding-left: 140px;
    //     padding-right: 140px;
    // }
}
.contact{
    // padding-top: 120px;
}
.site-footer {
    overflow: hidden;
    // padding-top: 40px;
    // @include media-breakpoint-up('lg'){
    //     padding-top: 80px;
    // }
    // padding-left: 0;
    // padding-right: 0;
    // @include media-breakpoint-up('lg') {
    //     padding-left: 140px;
    //     padding-right: 140px;
    // }
}