.home-products {
    color: theme-color('primary');
    &__entry {
        max-width: 520px;
        > h1 {
            font-size: 28px;
            font-weight: 700;
            margin: 0 0 20px 0;
            @include media-breakpoint-up('md') {
                font-size: 40px;
                margin: 0 0 40px 0;
            }
        }
        > p {
            max-width: 660px;
            font-size: 1rem;
            margin-bottom: 28px;
            @include media-breakpoint-up('md') {
                margin-bottom: 40px;
            }
        }
        > a {
            margin-bottom: 20px;
        }
    }
    .first-product {
        text-align: center;
        @include media-breakpoint-up('md') {
            background: $gray-100;
        }
    }
}
img.product-image {  
    &:hover { 
        box-shadow: $box-shadow;
        opacity: 0.4;
    }
}
.natlix-item {
    opacity: 0.4; 
    position: relative;
    .product-overlay {
        // display: none;
        opacity: -1;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__content {
            > h6 {
                color: theme-color('primary');
                text-decoration: none;
                max-width: 200px;
            } 
        }
    }
    &:hover {
        opacity: 0.4;
        // box-shadow: $box-shadow;
        .product-overlay {
            // display: block;
            opacity: 1;
        }
    }
}