.services {
    background-color: #f0f0f0;
    .service{
        &:nth-child(2) {
            @include media-breakpoint-up('md') {
                border-left: 2px solid rgba(13, 122, 154, 0.5);
                border-right: 2px solid rgba(13, 122, 154, 0.5);
            }
        }
    }
    .service-item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: theme-color('primary');
        &__content {
            > h5 {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 	0;
                margin-top: 0;
            }
            > p {
                font-size: 	0.875rem;
            }
        }
    }
}