.home-slider {

	.main-carousel {
        position: relative;
        height: 100vh;
        background-position: top center;
		&__content {
            color: $white;
            position: absolute;
            max-width: 900px;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            left: 0;
            right: 0;
            margin: 0 auto;
            > h4 {
                font-weight: 700;
                font-size: 22px;
                @include media-breakpoint-up('md') {
                    font-size: 42px;
                }
            }
            > p {
                font-size: 1rem;
                margin: 10px 0;
                @include media-breakpoint-up('md') {
                    margin: 20px 0;
                    font-size: 1.125rem;
                }
            }
        }
        .carousel-cell {
            border-radius: 0;
        }
        .flickity-button {
            display: none;
            background: transparent;
            @include media-breakpoint-down('md') {
                display: none;
            }
        }
        .flickity-button-icon {
            fill: rgba(255, 255, 255, 0.8);
        }
        .flickity-page-dots {
            display: none;
        }
        
	}
}
.carousel-nav {
    position: relative;
    .flickity-viewport {
        overflow: unset;
    }
}
.carousel-nav .cell {
    margin: 0 20px;
    > img {
        max-width: 50px;
        height: auto;
        border-radius: 50%;
    }
    position: relative;
    .cell-overlay {
        position: absolute;
        z-index: 99999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: theme-color('primary');
        opacity: 0.5;
        border-radius: 50%;
    }
}
.carousel-nav .cell.is-selected {
    background: transparent;
    .cell-overlay {
        background: transparent;
    }
    > img {
        max-width: 70px;
        height: auto;
    }
  }
