.testimonials {
    color: theme-color('primary');
    text-align: center;
    .small-text {
        font-size: 1rem;
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 18px;
        @include media-breakpoint-up('md') {
            font-size: 32px;
            margin-bottom: 48px;
        }
    }
    .testimonial-item {
        &__container {
            > p {
                max-width: 660px;
                margin: 0 auto;
            }
            > img {
                border-radius: 50%;
            }
        }
    }
    .flickity-page-dots {
        display: none;
    }
    @include media-breakpoint-down('md'){
        .flickity-page-dots {
            display: block;
        }
        .flickity-button {
            display: none;
        }
    }
    .testimonials-carousel {
        .cell {
            width: 100%; /* full width */
            //left: 0!important;
        }
    }
}