
/* move page dots into carousel */
.carousel {
    height: 100%;
}

.carousel-cell {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;
    // margin-right: 0;
    // margin-left: 0;
    background-color: #8C8;
    // border-radius: .25rem;
}
