//social
.social {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: theme-color('primary');
    @include media-breakpoint-up('md'){
        padding-top: 0;
    }
    > a {
        font-size: 1.5rem;
        color: theme-color('primary');
        text-decoration: none;
        padding: 0 1.5rem;
    }
} 



// footer
.footer-logo {
    > a {
        position: relative;
        width: 100%;
        display: inline-block;
        > img {
            background: $white;
            max-width: 80px;
            height: auto;
        }
        &:before {
            content: "";
            z-index: -1;
            position: absolute;
            width: 540px;
            height: 2px;
            left: 0;
            background-color: theme-color('primary');
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        &:after {
            content: "";
            z-index: -1;
            position: absolute;
            width: 540px;
            height: 2px;
            right: 0;
            background-color: theme-color('primary');
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}
.site-footer {
    
    .menu-menu-left-container,
    .menu-menu-right-container {
        > ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0; 
            text-align: center;
            margin-top: -40px;
            > li {
                > a {
                    color: theme-color('primary');
                    text-decoration: none;
                }
                text-transform: lowercase;
                font-size: 1.125rem;
                margin-top: 1rem;
            }
        }
    }
}
.footer-menu {
    @include media-breakpoint-down('md') {
        display: none;
    }
}