

@import 'base';

@import 'theme';
@import 'bootstrap';
@import "~flickity/css/flickity.css"; 
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import '~photoswipe/src/css/main';
// @import '~photoswipe/src/css/default-skin/default-skin';
@import "~aos/dist/aos.css";
@import "./node_modules/jquery-drawer/scss/drawer.scss";


@import '/home/index';
@import '/pages/index';
@import 'animista';
@import 'footer';
@import 'carousel';
@import 'drawer';

.site {
    min-height: 100vh;
}
.section {
    overflow: hidden;
    max-width: 100%;
    padding: 40px 0;
    @include media-breakpoint-up('lg') {
        padding: 80px 0;
    }
}
.inner-section {
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
    padding: 40px 0;
    @include media-breakpoint-up('lg') {
        padding: 80px 0;
    }
}
// .container-fluid {
//     max-width: 2200px;
// }
.site-content {
    position: relative;
    overflow: hidden;
}
a.nav-link {
    background: unset;
    background-color: unset;
}
.btn-primary {
    border-radius: unset;
    &--white {
        color: theme-color('primary');
        background-color: $white;
        border-color: $white;
        border-radius: 0;
    }
    &--amazon {
        margin-bottom: -0.75rem;
        z-index: 99999;
    }
}

.navbar,
.mobile-header {
    background: rgba(255, 255, 255, 0.9);
}
// header
.navbar-brand {
    > img {
        max-width: 46px;
        height: auto;
    }
}
#left-menu,
#right-menu {
    align-items: center;
    justify-content: space-evenly;
}

// mobile menu
.site-logo {
    > img {
        max-width: 58px;
        height: auto;
    }
}
.mobile-navigation {
    .menu-primary-container {
        > ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            text-align: center;
            > li {
                margin: 1rem 0;
                > a {
                    color: theme-color('primary');
                    font-size: 	1.375rem; 
                }
            }
        }
    }
    &__footer {
        margin-top: 1rem;
        text-align: center;
        > a {
            color: theme-color('primary');
            font-size: 1.375rem;
            margin: 0 1rem;
        }
    }
}
.mobile-header {
    &__items {
        > a {
            color: theme-color('primary');
            font-size: 32px;
        }
    }
}
.site-footer {
    .contact-information {
        > p {
            color: theme-color('primary');
            font-size: 1rem;
        }
    }
}